APP_NAME=sss-admin-backend
PORT=8001
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:5432/DATABASE
ALLOWED_ORIGINS=http://localhost:3001


DATABASE_URL=postgresql://...

AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=...
AWS_S3_BUCKET=...

LOGOUT_REDIRECT_URL=...